div.gallery {
    /* border: 1px solid #ccc; */
  }
  
  div.gallery:hover {
    transform: scale(1.5);
    transform-origin: center;
  }
  
  div.gallery img {
    width: 100%;
    box-shadow: 7px 7px 5px rgba(2, 2, 2, 0.308);
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(2, 2, 2, 0.308);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    margin: 50px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }