pre.prettyprint{
    
    background-color: #333;
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #D4D4D4;
}

pre.prettyprint code,
pre.source code {
    background-color: transparent;
    color: #D4D4D4;
}


.com       { color: rgb(106, 153, 85); }
.kwd, .str, .tag { color: rgb(86, 156, 214);; }
.atv { color: rgb(206, 145, 120); }
.typ       { color: rgb(78, 201, 176); } /* Not adjsuted yet!*/
.lit, .atn { color: rgb(156, 220, 254); }
.pun { color: #D4D4D4; }
.dec       { color: #800080; } /* Not adjsuted yet!*/
.pln {color: rgb(220, 220, 170);}