@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family:'Open Sans';   
    display: flex;
    min-height: 100vh;
    flex-direction: column; 
    background-color: rgb(248, 248, 248);
}

#headerimg{
    width: 100%;
}

#logoimg{
    position: absolute;
    left: 2vw;
    top: 4.3vw;
    width: 17%;     
}

#logoimgmanage{
    position: absolute;
    left: 2vw;
    top: 1.5vw;
    width: 12%;     
}

#logotext{
    display: inline;
	position: absolute;
	left: 19.3vw;
    top: 7.6vw;
    font-family: 'Open Sans';  
	font-size: 2.4vw;
	font-style: italic;
	font-weight: 900;
	color: grey;
}

#logotextmanage{
    display: inline;
	position: absolute;
	left: 14.2vw;
    top: 4.0vw;
    font-family: 'Open Sans';  
	font-size: 1.6vw;
	font-style: italic;
	font-weight: 900;
	color: grey;
}

#indexmain {
    padding-top: 6vh;
    flex:1;
}

.indexmenubutton {
    width: 75%;
    height: calc(6vh + 3vw);
    margin-top: 5vh;
    font-family: 'Open Sans';
    font-style: italic;
	font-weight: 900;
    color: grey;    
}

#indexmain .container .field:first-child .indexmenubutton {    
    margin-top: 0;    
}

#studymain {    
    flex:1;
}

#manageservermain {   
    padding-top: 1vh; 
    flex:1;
}

#managelocalmain {
    padding-top: 6vh;
    flex:1;
}

.view {    
    display: none;	
}

#footer {
    padding-top: 16px;
    padding-bottom: 16px;
    font-weight: 900;
    color: grey;
    background-color: rgb(231, 231, 231);
}

#privacylink,
#impressumlink {
    color: gray;
}

#user_box,
#subject_box {
    width: 100%;
    height: calc(72vh - 15vw);
    background-color: rgb(248, 248, 248);
    border:1px solid grey;
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: auto;    
}

#user_box {
    height: calc(78vh - 15vw);
}

#user_table,
#subject_table {
    width: 100%;    
    background-color: rgb(245, 245, 245);
}

#user_table tr,
#subject_table tr {
    height: 30px;
}

#user_table td,
#subject_table td {
    padding: 5px;
    background-color: rgb(238, 238, 238);
}

#subject_table tr:nth-of-type(odd) td,
#user_table tr:nth-of-type(odd) td {
    background-color: #e0e0e0;
}

#subject_table tr:first-of-type td,
#user_table tr:first-of-type td {
    background-color: rgb(199, 199, 199);
    font-weight: bold;
}

#subject_statstable tr {
    border-bottom: 1px solid;
}

#subject_statstable tr:last-of-type {
    border-bottom: none;
}

#subject_statstable tr td:first-of-type {
    padding-right: 60px;
    color: gray;
    font-weight: bold;
}